body{
    background-color: #181818;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

section.header-menu{
    height: 119px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header-menu a{
    font-size: RobotoM, sans-serif;
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 41px;
}

a.home{
    padding-left: 127px;
}

.header-menu a:hover{
    color: #4452FE;
}

a.login{
    width: 139px;
    height: 52px;
    font-family: RobotoM, sans-serif;
    font-size: 17px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    background: transparent;
    cursor: pointer;
    margin-left: 184px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a.login:hover{
    border: 1px solid gray;
    color: #FFFFFF;
}

section.header-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
}

.title{
    width: 729px;
    height: 196px;
    color: #FFFFFF;
    font-family: RobotoB, sans-serif;
    font-size: 80px;
    text-align: center;
    letter-spacing: 0.2px;
    padding-top: 60px;
}

.subtitle{
    width: 582px;
    height: 60px;
    font-family: RobotoL, sans-serif;
    font-size: 20px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin-top: 27px;
    padding-bottom: 60px;
    text-align: center;
}

.buttons{
    display: flex;
    flex-direction: row;
}

.button-primary a,
.button-secundary a{
    text-decoration: none;
    color: #FFFFFF;
    font-family: RobotoM, sans-serif;
    font-size: 17px;
}

.button-primary,
.button-secundary{
    display:flex;
    justify-content: center;
    align-items: center;
}

.button-primary {
    width: 178px;
    height: 65px;
    background: #4452FE;
}

.button-primary:hover{
    background: #2637f7;
}

.button-secundary:hover{
    border: 1px solid gray;
    color: gray;
}

.button-secundary{
    width: 172px;
    height: 63px;
    background: transparent;
    border: 1px solid #FFFFFF;
    margin-left: 35px;
}